

# models
model_dft_pytorch/
# Data
*.txt
!requirements.txt
*.npz
*.npy
data/
losses_dft_pytorch/
# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
